<div class="container-fluid">
    <div class="row">
        <div class="col">
            <div>
                <div class="d-flex justify-content-end " style="margin-right:3%"> 
                    <!-- <button (click)="onClick()" mat-stroked-button>Device
                        Listing</button> -->
                        <a [routerLink]="['add']" routerLinkActive="router-link-active" >Add</a>
                    </div>
                <app-device-setup-table></app-device-setup-table>
            </div>
        </div>
    </div>
</div>